*{
  box-sizing: border-box;
}

.container{
  padding-left: 0;
  padding-right: 0;
}

.body-container{

}

form{
  margin: 20px auto;
  width: 60%;
}

/*Used to not move page when modal is opened*/
.modal-open {
padding-right: 0px !important;
}
